@mixin adaptively-centered {
  margin: {
    left: auto;
    right: auto;
  }

  @include bp-nq($medium) {
    max-width: $medium;
  }
  @include bp-nq($large) {
    max-width: $large - 20px;
  }
  @media print {
    max-width: 100%;
  }
}
