@mixin standard-button {
  background: $color-highlight;
  color: $color-highlight-contrast;
  margin-right: 0.5em;
  font-size: 1.4em;
  padding: 0.3em 0.5em;
  @include box-shadow(1px 1px 1px #C9C9C9);

  &:hover {
    background: lighten($color-highlight, 10%);
  }
  &:active {
    background: darken($color-highlight, 5%);
  }
}
