#page,
.region-bottom,
.header__inner {
  @include adaptively-centered;
}

#main {
  clear: both;
}

#footer {
  clear: both;
}

.header {
  @include pie-clearfix;
  @include small-screens {
    padding: rhythm(1);
  }
}

/*
* Column logic.
*/
#content {
  padding: rhythm(1);

  @include bp-nq($medium) {
    float: left;
    width: 490px;
  }
  @include bp-nq($large) { width: 660px; }
}

.region-sidebar-second {
  padding: rhythm(1);

  @include bp-nq($medium) {
    float: right;
    width: 230px;
  }
  @include bp-nq($large) { width: 300px; }
}
