$themes: (
  default: (
    font: arial,
    font-color: #5F5F5F,
    headerFont: '"OpenSansSemibold",Arial,sans-serif',
    colorPrimary: #006893,
    colorSecondary: #020202,
    colorTertiary: #C53100,
  ),
  nsw: (
    font: arial,
    font-color: #5F5F5F,
    headerFont: '"OpenSansSemibold",Arial,sans-serif',
    colorPrimary: #133880,
    colorSecondary: #133880,
    colorTertiary: #c60c30,
    headerBg: #ffffff,
    bodyBg: #ffffff,
  ),
  nt: (
    font: arial,
    font-color: #5F5F5F,
    headerFont: '"OpenSansSemibold",Arial,sans-serif',
    colorPrimary: #500107,
    colorSecondary: #b45c30,
    colorTertiary: #084887,
  ),
  vic: (
    font: arial,
    font-color: #5F5F5F,
    headerFont: '"OpenSansSemibold",Arial,sans-serif',
    colorPrimary: #003467,
    colorSecondary: #605e5b,
    colorTertiary: #0073a4,
  ),
);

@each $theme, $palette in $themes {
  @if $theme == 'default'  {
    body {
      @include theme($theme, $palette);
    }
  } @else {
    body.theme-#{$theme} {
      @include theme($theme, $palette);
    }
  }
}

body.theme-nsw {
  #header {
    background: white;
  }
}